name: Generate Feed
on: [push]
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6.0.2
      - name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.11'
      - name: Install Dependency
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml
      - name: Run Feed Gen
        run: python feed.py
      - name: Push repo
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m 'modify feed' --allow-empty
          git push
