name: Generate Feed
on: [push]
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6.0.2
      - name: Run Feed Gen
        uses: skarabom/Docker-learn@main
        
        
